@model MatchResult
@using ITU.RefereeAssistant.Domain.Models
@{
    var count = ViewData["count"];
    var enumTypes = Enum.GetValues(typeof(MatchResult)).OfType<MatchResult>();
}
@foreach (var enumType in enumTypes.OrderBy(i => (int)i))
{
    <label class="radio-inline">
        <input type="radio"
               name="MatchResult@(count)"
               @(Model == enumType ? "checked=\"checked\"" : "")
               onClick="MatchResultSend@(count)(this)"
               value="@(enumType)" />
        @(enumType.ToString())
    </label>
}
