@model ITU.RefereeAssistant.Domain.Models.Tournament    
<div class="row">
    <div class="col-md-8">@Html.DisplayFor(tournament => tournament.Description)</div>
    <div class="col-md-4">@Html.ActionLink("Перейти к раундам", "RoundLast", new { id = @Model.Id })</div>
</div>
